.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin: auto
}

.form label {
    font-weight: 500;
    margin: 10px;
}

.form input {
    font-size: 1rem;
    padding: 7px;
    border: 1px solid #306;
    border-radius: 5px;
}

.form button {
    font-size: 1rem;
    background-color: #306;
    color: #ddd;
    padding: 10px 35px;
    border: 1px solid #306;
    border-radius: 7px;
    margin: 25px auto;
}